.container-maps {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 450px));
  grid-gap: 20px;
  margin-top: 30px;
  justify-content: center;
}
.flag-brief {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  button {
    margin-left: auto;
  }
}

.flag-image {
  height: 200px;
  width: 350px;
}

.mapPlaceholder {
  height: 20rem;
}

.hidden {
  display: none;
}

.map-content {
  // background-color: blueviolet;
}
