<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <!-- Leaflet JS -->
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <% include ../views/partials/navbar.ejs %>
    <div class="container-fluid">
      <div class="row">
        <div class="col search_input">
          <nav class="navbar navbar-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
              </button>
            </form>
          </nav>
        </div>
        <div class="col my-auto text-right">
          <button type="button" class="btn btn-primary mr-auto">
            Create New Map
          </button>
        </div>
      </div>
    </div>
    <div class="custom_grid"></div>
  </body>
  <script>
    let latlangRaw = "<%= latlngData %>";
    let nameRaw = "<%= name %>";
    let categoryRaw = "<%= category %>";
    let latlang = JSON.parse(latlangRaw);
    let name = nameRaw.split(",");
    let category = categoryRaw.split(",");
    let y = [latlang, name, category];
    mapCreator(y);
  </script>
</html>
