<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>placeLocator</title>
  </head>
  <% include ../views/partials/navbar.ejs %>
  <body>
    <div class="container col-lg-4 mt-5">
      <div>
        <h4>Log In</h4>
      </div>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="usernameID">Username</label>
          <input
            type="text"
            name="usernameID"
            class="form-control"
            id="usernameID"
            aria-describedby="usernameHelp"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="passwordID">Password</label>
          <input
            type="password"
            name="passwordID"
            class="form-control"
            id="passwordID"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
