.custom_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;

  justify-items: center;
  .card {
    align-self: center;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-content {
      flex: 2 0 auto;
    }
    .right-content {
      flex: 1 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
}
